# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
[Bb]in/
[Oo]bj/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nupkg.metadata
*.nupkg.props
*.nupkg.targets

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/

# Log files
*.log
problems.txt